/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */

#kcontainer{
    display: flex;
    width: 100vw;
    height: 30vw;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    resize: both;
    overflow: auto;

}

.row{
    margin: 0.2% 0;
    justify-content: center;
    display: flex;
    width: 100vw;
    height:15vw;
    font-family: "Cambria";
}

.key:active{
    background-color: dimgray;
}

.key{
    background: gray;
    margin: 0% 0.2%;
    text-align: center;
    color: white;
    width: 6vw;
    height: 100%;
    border-radius: 1vw;
    line-height: 5vw;
    font-size: 3vw;
}


.special-key{
    width: 13%;
    background-color: orange;
}
.spacekey{
    width: 60%;
}